:root {
  --default: #222529;
  --secondary: #FC417F;
  --accent: #FFF200;
  --danger: #FF6600;
  --success: #10CC97;
  --primary: #554596;
  --disabled: #DEE2E6;
  --info: #18A2B8;
  --accent2: #ff7766;
  --warning: #FFC108;
}