.wrapper {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 68px;
}

.colors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.item {
  width: 155px;
  height: 155px;
  margin: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.swatch {
  height: 70%;
  margin-bottom: 12px;
}

.item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.colorName {
  text-align: center;
  margin: 0;
}
