.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-accent {
  color: var(--accent);
}

.text-accent2 {
  color: var(--accent2);
}

.text-default {
  color: var(--default);
}

.text-info {
  color: var(--info);
}

.text-danger {
  color: var(--danger);
}

.text-warning {
  color: var(--warning);
}

.text-success {
  color: var(--success);
}

.text-disabled {
  color: var(--disabled);
}
